# Created by https://www.gitignore.io

*~
.project
.DS_Store
.idea/
env/

# Prevent people accidently committing large test data files
test_data/*.txt

### Python ###
__pycache__
.python-version

.classpath
.settings
target
