# Created by https://www.gitignore.io

*~
.project

# Prevent people accidently committing large test data files
test_data/event_data.txt

### Python ###
__pycache__
.python-version

.classpath
.settings
target
